<div class="home-callout text-center container-fluid">
  <h1>Welcome to DevMatch.</h1>
  <h3>A membership site where entrepeneurs can meet developers.</h3>
</div>

<div>
  <h6 style="font-size:80px">This is my friend Shawn.</h6>
<blockquote class="imgur-embed-pub" lang="en" data-id="Up89S60"><a href="//imgur.com/Up89S60" align="middle">View post on imgur.com</a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
</div>
  <h6 style="font-size:80px">This is my friend Shawn after Kairos.</h6>
<blockquote class="imgur-embed-pub" lang="en" data-id="qpZc9AW"><a href="//imgur.com/qpZc9AW">View post on imgur.com</a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>